@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Persons";
}
<form href="~/persons/index" method="get">
    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach (KeyValuePair<string, string> option in ViewBag.SearchOptions)
                {
                    if (option.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@option.Key" selected="selected">@option.Value</option>
                    }
                    else
                    {
                        <option value="@option.Key">@option.Value</option>
                    }
                }
            </select>
        </div>
        <div class="flex-1">
            <input type="search" id="search" class="form-input" placeholder="Search" name="searchString"
                   value="@ViewBag.CurrentSearchString" />
        </div>
        <div class="flex-1">
            <button class="button button-blue-back" type="submit">Search</button>
            <a href="~/persons/index" class="link-hover">Clear all</a>
        </div>
    </div>
    <h1>Persons</h1>

    <table class="table w-100 mt">
        <thead>
            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
            {
                { "ColumnName", nameof(PersonResponse.PersonName) },
                { "DisplayName", "Person Name" }
            })

            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Email) },
                { "DisplayName", "Email" },
            })

            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.DateOfBirth) },
                { "DisplayName", "Date of Birth" },
            })

            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Age) },
                { "DisplayName", "Age" },
            })

            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Gender) },
                { "DisplayName", "Gender" },
            })

            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.CountryName) },
                { "DisplayName", "Country" },
            })

            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Address) },
                { "DisplayName", "Address" },
            })

            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.ReceiveNewsLetters) },
                { "DisplayName", "Receive News Letters" },
            })
        </thead>
        <tbody>
            @foreach (var personResponse in Model)
            {
                <tr>
                    <td style="width:10%">@personResponse.PersonName</td>
                    <td style="width:16%">@personResponse.Email</td>
                    <td style="width:11%">@personResponse.DateOfBirth?.ToString("dd MM yyyy")</td>
                    <td style="width:11%">@personResponse.Age</td>
                    <td style="width:10%">@personResponse.Gender</td>
                    <td style="width:15%">@personResponse.CountryName</td>
                    <td style="width:19%">@personResponse.Address</td>
                    <td style="width:10%">@personResponse.ReceiveNewsLetters</td>
                </tr>
            }
        </tbody>
    </table>
</form>
