@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Persons";
}
<form asp-controller="Persons" asp-action="Index" method="get">
    <div class="flex">
        <div class="flex-1">
            <div class="text-grey">
                <span>Contacts</span>
                <i class="fa-solid fa-caret-right"></i>
                <span>Persons</span>
            </div>
        </div>

        <div class="flex-1 text-right">
            <a asp-controller="Persons" asp-action="Create" class="button-link button-blue-back">Create Person</a>

            <a asp-controller="Persons" asp-action="PersonsPDF" class="button-link button-blue-back">Download as PDF</a>

            <a asp-controller="Persons" asp-action="PersonsCSV" class="button-link button-blue-back">Download as CSV</a>

            <a asp-controller="Persons" asp-action="PersonsExcel" class="button-link button-blue-back">Download as Excel</a>
        </div>
    </div>

    <div class="table-container">
        <div class="flex">
            <div class="flex-1">
                <h1>Persons</h1>
            </div>

            <div class="flex-3 text-right">
                <label>Search by:</label>

                <select class="search-dropdown" name="searchBy">
                    @foreach (KeyValuePair<string, string> option in ViewBag.SearchOptions)
                    {
                        if (option.Key == ViewBag.CurrentSearchBy)
                        {
                            <option value="@option.Key" selected="selected">@option.Value</option>
                        }
                        else
                        {
                            <option value="@option.Key">@option.Value</option>
                        }
                    }
                </select>

                <input type="search" id="search" class="search-text" placeholder="Search" name="searchString"
                       value="@ViewBag.CurrentSearchString" style="width:200px" />

                <button class="search-button" type="submit">Search</button>

                <a href="~/persons/index" class="ml link-hover">Clear all</a>
            </div>
        </div>


        <table class="table w-100 mt">
            <thead>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
                {
                { "ColumnName", nameof(PersonResponse.PersonName) },
                { "DisplayName", "Person Name" }
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Email) },
                { "DisplayName", "Email" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.DateOfBirth) },
                { "DisplayName", "Date of Birth" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Age) },
                { "DisplayName", "Age" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Gender) },
                { "DisplayName", "Gender" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.CountryName) },
                { "DisplayName", "Country" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Address) },
                { "DisplayName", "Address" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.ReceiveNewsLetters) },
                { "DisplayName", "Receive News Letters" },
                })
            <th>Options</th>
            </thead>
            <tbody>
                @foreach (var personResponse in Model)
                {
                    <tr>
                        <td style="width:9%">@personResponse.PersonName</td>
                        <td style="width:11%">@personResponse.Email</td>
                        <td style="width:10%">@personResponse.DateOfBirth?.ToString("dd MM yyyy")</td>
                        <td style="width:6%">@personResponse.Age</td>
                        <td style="width:9%">@personResponse.Gender</td>
                        <td style="width:14%">@personResponse.CountryName</td>
                        <td style="width:13%">@personResponse.Address</td>
                        <td style="width:14%">@personResponse.ReceiveNewsLetters</td>
                        <td style="width:18%">
                            <a asp-controller="Persons" asp-action="Edit" asp-route-personId="@personResponse.PersonId" class="button-link button-blue-back">
                                Edit
                            </a>

                            <a href="~/Persons/Delete/@personResponse.PersonId" class="button-link button-red-back">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
