@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Persons";
}
<form href="~/persons/index" method="get">
    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach(KeyValuePair<string, string> option in ViewBag.SearchOptions)
                {
                    if(option.Key == ViewBag.CurrentSearchBy)
                    {                        
                        <option value="@option.Key" selected="selected">@option.Value</option>
                    } else
                    {
                        <option value="@option.Key">@option.Value</option>
                    }
                }
            </select>
        </div>
        <div class="flex-1">
            <input type="search" id="search" class="form-input" placeholder="Search" name="searchString" 
                value="@ViewBag.CurrentSearchString" />
        </div>
        <div class="flex-1">
            <button class="button button-blue-back" type="submit" >Search</button>
            <a href="~/persons/index" class="link-hover">Clear all</a>
        </div>
    </div>
    <h1>Persons</h1>

    <table class="table w-100 mt">
        <thead>
            <th>Person Name</th>
            <th>Email</th>
            <th>Date of birth</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Address</th>
            <th>Receive News Letters</th>
        </thead>
        <tbody>
            @foreach(var personResponse in Model)
            {
                <tr>
                    <td>@personResponse.PersonName</td>
                    <td>@personResponse.Email</td>
                    <td>@personResponse.DateOfBirth?.ToString("dd MM yyyy")</td>
                    <td>@personResponse.Age</td>
                    <td>@personResponse.Gender</td>
                    <td>@personResponse.CountryName</td>
                    <td>@personResponse.Address</td>
                    <td>@personResponse.ReceiveNewsLetters</td>
                </tr>
            }
        </tbody>
    </table>
</form>
